<!DOCTYPE html>
<html>
<head>
  <title>PinBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script id="bootstrap-current-user" type="text/javascript">
    <% if current_user %>
    	window.currentUser = <%= current_user.to_json.html_safe %>
    <% end %>
  </script>

<%= yield %>

</body>
</html>
